body{
    margin: 0;
    background-color: whitesmoke;
}

nav {
    background-color: rgb(228, 227, 227);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
}
a {
    margin-left: 35px;
    text-decoration: none;
    color: rgb(137, 137, 137);
    font-family: Arial;
    font-size: 15px;
}